body {
    background-color: aqua;
    text-align: center;
}

.image-section {
    display: flex;
    justify-content: center;
}

div {
    margin-top: 15px;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
